body{
    background-color: #a4a3a3;
    font-family: sans-serif;
}

.c-item {
    height: 350px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.c-img {
    height: 100%;
    object-fit: cover;
    filter: brightness(0.6);
}

.overview {
    height: 100px;
}

.card-sl {
    border-radius: 8px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card-image img {
    max-height: 100%;
    max-width: 100%;
    border-radius: 8px 8px 0px 0;
}

.card-action {
    position: relative;
    float: right;
    margin-top: -25px;
    margin-right: 20px;
    z-index: 2;
    color: #1b1919;
    border-radius: 100%;
    padding: 15px;
    font-size: 15px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 1px 2px 0 rgba(0, 0, 0, 0.19);
}

.card-action:hover {
    color: #fff;
    background: #e7e4e3;
    -webkit-animation: pulse 1.5s infinite;
}

.card-heading {
    font-size: 18px;
    font-weight: bold;
    padding: 10px 15px;
}

.card-text {
    padding: 10px 15px;
    font-size: 14px;
    color: #636262;
}

.card-button {
    display: flex;
    justify-content: center;
    padding: 10px 0;
    width: 100%;
    color: #fff;
    border-radius: 0 0 8px 8px;
}

.card-button:hover {
    text-decoration: none;
    color: #fff;
}

.text {
    color: darkslategrey;
    text-align: justify;

}

h3 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: darkslategrey;
}

h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: darkslategrey;
}

h5 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: darkslategrey;
}

.progress-bar {
    background-color: darkslategrey;
}

.subtitle {
    text-align: left;
    margin: 40px;
}

.cards {
    align-items: center;
}